<!DOCTYPE html>
<html lang='en'>
    <head profile='http://www.w3.org/2005/10/profile'>
        <link rel='icon' 
            type='image/png' 
            href='/static/assets/favicon.ico'>
        <script src='/static/js/libs/jquery-2.1.4.min.js'></script>
        <script src='/static/js/libs/three.min.js'></script>

        <script src='/static/js/controls/TrackballControls.js'></script>
        <script src='/static/js/controls/DomEvents.js'></script>

        <script src='/static/js/scene.js'></script>
        <script src='/static/js/requests.js'></script>

        <title>welcome to the party</title>
        <meta charset='utf-8'>
        <style>
            body {
                background: #D6EFE7;
                color: #474780;
                font-family:Monospace;
                font-size:13px;
                margin: 0px;
                text-align:center;
                overflow: hidden;
            }
            #number {
                display: inline;
                color: #0000ff;
            }
        </style>
    </head>
    <body>
        <div id='container'>
            <h2>send a picture message to <i id='number'>(706) 956-5023</i> to join the party!</h2>
            <h3>click and drag boxes to move them around the scene · click and drag background to move around the scene · scroll to zoom in and out | 
        <a href="https://github.com/nancywong/internet-party">github</a></h3>
</div>
        <script src='/static/js/main.js'></script>

    </body>
</html>

