<!DOCTYPE html>
<html lang='en'>
    <head profile='http://www.w3.org/2005/10/profile'>
        <link rel='icon' 
            type='image/png' 
            href='/static/assets/favicon.ico'>
        <script src='/static/js/libs/jquery-2.1.4.min.js'></script>
        <script src='/static/js/libs/three.min.js'></script>
        <script src='/static/js/geometries/DecalGeometry.js'></script>
        <script src='/static/js/controls/OrbitControls.js'></script>

        <script src='/static/js/controls/TrackballControls.js'></script>
        <script src='/static/js/libs/stats.min.js'></script>

        <script src='/static/js/scene.js'></script>
        <script src='/static/js/controls.js'></script>
        <script src='/static/js/requests.js'></script>

        <title>welcome to the party</title>
        <meta charset='utf-8'>
        <style>
            body {
                color: #000;
                font-family:Monospace;
                font-size:13px;
                margin: 0px;
                text-align:center;
                overflow: hidden;
            }
            #info{ position: absolute; width: 100%; padding: 5px; }
        </style>
    </head>
    <body>
        <div id='container'></div>
        <h2>send a picture message to <i>(706) 956-5023</i> to join the party!</h2>
        <script src='/static/js/main.js'></script>
        <script>

        </script>
    </body>
</html>

